.app-layout {
  display: flex;
  min-height: 100vh;
}

.page-content {
  flex: 1;
  min-height: 100vh;
  background: #f3f4f6;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #081529;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.user-box {
  text-align: center;
  margin-bottom: 50px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #6c63ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto 15px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item:hover {
  background: #1c2c4a;
}

.logout-btn {
  margin-top: auto;
  background: red;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.logout-btn:hover {
  opacity: 0.9;
}